# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# package-lock.json
pnpm-lock.yaml
yarn.lock
 
# --- Build output ---
dist/
.cache/
.output/

# --- Local env files ---
.env
.env.*
!.env.example   # оставляем пример для команды

# --- Editor/IDE ---
.vscode/
.idea/
*.swp

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
logs
*.log.*
lerna-debug.log*

# --- Misc ---
coverage/
.tmp/

# C:\Users\Serge\Documents\GitHub\assorti.ai\.gitignore
.astro/
